In [2]:
import pandas as pd
import os

In [13]:
os.chdir('/Users/rishav/nasa-cmaps')
print(os.getcwd())

/Users/rishav/nasa-cmaps

In [14]:
print(os.listdir('CMaps'))

['Damage Propagation Modeling.pdf', 'train_FD001.txt', 'train_FD003.txt', 'RUL_FD004.txt', 'train_FD002.txt', 'RUL_FD001.txt', 'x.txt', 'RUL_FD003.txt', 'RUL_FD002.txt', 'train_FD004.txt', 'test_FD003.txt', 'test_FD002.txt', 'test_FD001.txt', 'test_FD004.txt', 'readme.txt']

In [15]:
import pandas as pd

# Define column names based on CMAPSS standard
columns = ["unit_number", "time_in_cycles", "operational_setting_1", "operational_setting_2",
           "operational_setting_3"] + [f"sensor_measurement_{i}" for i in range(1, 22)]

# Load training data
train_df = pd.read_csv("CMaps/train_FD001.txt", sep=" ", header=None)
train_df.dropna(axis=1, how='all', inplace=True)  # drop empty columns
train_df.columns = columns

# Preview
train_df.head()

,unit_number,time_in_cycles,operational_setting_1,operational_setting_2,operational_setting_3,sensor_measurement_1,sensor_measurement_2,sensor_measurement_3,sensor_measurement_4,sensor_measurement_5,...,sensor_measurement_12,sensor_measurement_13,sensor_measurement_14,sensor_measurement_15,sensor_measurement_16,sensor_measurement_17,sensor_measurement_18,sensor_measurement_19,sensor_measurement_20,sensor_measurement_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [16]:
rul_df = pd.read_csv("CMaps/RUL_FD001.txt", header=None)
rul_df.columns = ["RUL"]
rul_df.head()

   RUL
0  112
1   98
2   69
3   82
4   91

In [17]:
test_df = pd.read_csv("CMaps/test_FD001.txt", sep=" ", header=None)
test_df.dropna(axis=1, how='all', inplace=True)
test_df.columns = columns